
= render partial: 'shared/side_bar'

.chat-main
  .header
    .header-group
      .header-group__name sampleグループ
      = link_to "Edit", edit_group_path(params[:group_id]), class: "header-group__edit-btn"
    .header-group-members
      MEMBER:
      %i Sample_User
  .main
    .main__message-list
      .main__message
        .main__message__name Sample_User
        .main__message__time 2019/01/15 12:00:00
        .main__message__text テストメッセージ
      .main__message
        .main__message__name Sample_User
        .main__message__time 2019/01/15 12:00:00
        .main__message__text テストメッセージ
      .main__message
        .main__message__name Sample_User
        .main__message__time 2019/01/15 12:00:00
        .main__message__text テストメッセージ
      .main__message
        .main__message__name Sample_User
        .main__message__time 2019/01/15 12:00:00
        .main__message__text テストメッセージ
  .main__footer
    %form.main__footer-form
      .main__footer-body
        %input.message{type: "text", placeholder: "type a message", name: "message[body]"}
        %label.chat-file{for: "message_image"}
          %input.image{type: "file", id: "message_image", name: "message[image]"}
          %i.fa.fa-picture-o
      %input.submit{type: "submit", value: "Send"}
